
.parking__lot {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 16px;
}

.parking__reset {
  border: 1px solid;
  background-color: lightgrey;
  padding: 5px;
  width: 50px;
}

.parking__spot {
  border-right: 3.5px solid grey;
  border-left: 3.5px solid grey;
  background-color: #1c1c1b;
}

.parking__spot--taken {
  background-color: brown;
}

.parking__spot--selected {
  background-color: green;
}

.building__box {
  border: 1px solid;
  width: 20px;
  padding: 3px;
  cursor: pointer;
}
